.page-header {
    margin: 24px 0 50px;

    @media (max-width: $mobile-l) {
        margin: 16px 0 32px;
    }
}

.page-header__wrap {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid $text-primary;

    @media (max-width: $laptop) {
        padding-bottom: 10px;
    }
}