.section {
    width: 100%;
    padding: 100px 0;

    @media (max-width: $tablet) {
        padding: 80px 0;
    }

    @media (max-width: $mobile-l) {
        padding: 60px 0;
    }
}

.section_pt-b {
    padding: 124px 0;
}

.section_theme-dark {
    background-color: $firm-color;
    color: $text-light;
}

// Шапка секции
.s-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.s-header__content {
    text-align: center;
}

.s-header__title {
}

.s-header__text {
    max-width: 1060px;
    width: 100%;
    font-size: 16px;
    margin-top: 44px;

    @media (max-width: $tablet) {
        margin-top: 32px;
    }
    
    @media (max-width: $mobile-l) {
        font-size: 14px;
        margin-top: 18px;
    }
}