// Меню
.menu {
    width: 100%;

    @media (max-width: $hide-menu) {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        // background: $firm-color;
        background: rgba(0,0,0,.8);
        overflow-y: auto;
        overflow-x: hidden;
        transform: translateX(100%);
        transition: $tr;

        &._show {
            transform: translateX(0);
        }
    }
}

.menu__wrap {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $firm-color;

    @media (max-width: $hide-menu) {
        // width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 48px 0;
        margin: auto 0;
    }
}

.menu__list {
    display: flex;
    align-items: center;

    @media (max-width: $hide-menu) {
        width: 100%;
        flex-direction: column;
    }

    & li {

        &:not(:last-child) {
            margin-right: 45px;

            @media (max-width: 1500px) {
                margin-right: 24px;
            }

            @media (max-width: 1300px) {
                margin-right: 16px;
            }

            @media (max-width: 1100px) {
                margin-right: 8px;
            }

            @media (max-width: 1050px) {
                margin-right: 4px;
            }

            @media (max-width: $hide-menu) {
                margin-right: 0;
            }
        }

        @media (max-width: $hide-menu) {
            width: 100%;
            text-align: center;
        }
    }
}

.menu__link {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: #fff;
    padding: 6px 10px;
    white-space: nowrap;

    @media (max-width: 1200px) {
        font-size: 15px;
    }

    @media (max-width: 1150px) {
        font-size: 14px;
    }

    @media (max-width: $hide-menu) {
        width: 100%;
        font-size: 16px;
        padding: 16px 0;
    }

    &._active {

        & .menu__link-hover {

            & svg path {
                stroke-dashoffset: 0;
            }
        }
    }

    &._hide-hover {

        & .menu__link-hover {

            & svg path {
                stroke-dasharray: 420;
                stroke-dashoffset: 420;
            }
        }
    }

    &:hover {
        
        @media (min-width: $min-hover) {
            
            & .menu__link-hover {

                & svg path {
                    stroke-dashoffset: 0;
                }
            }
        }
    }
}

.menu__link-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 124px;
    width: 100%;
    height: 100%;
    display: block;
    transform: translate(-50%, -50%) scale(1.5);
    pointer-events: none;

    @media (max-width: $hide-menu) {
        transform: translate(-50%, -50%) scale(1.2);
    }

    & svg path {
        stroke-dasharray: 420;
        stroke-dashoffset: 420;
        transition: .5s;
    }
}

.menu__logo {

    @media (max-width: $hide-menu) {
        display: none;
    }
}

// Бургер
// Бургер
.burger {
    display: none;
    position: relative;
    width: 32px;
    height: 32px;
    margin-left: 4px;

    @media (max-width: $hide-menu) {
        display: block;
    }

    & span {
        position: absolute;
        top: 50%;
        right: 0;
        // left: 50%;
        width: 80%;
        height: 2px;
        background: #fff;
        transition: $tr;

        &:nth-child(1) {
            width: 100%;
            transform: translate(0, calc(-50% - 8px));
        }

        &:nth-child(2) {
            width: 80%;
            transform: translate(0, -50%);
        }

        &:nth-child(3) {
            width: 60%;
            transform: translate(0, calc(-50% + 8px));
        }
    }

    // &._activeAnim {

    //     & span {

    //         &:nth-child(1) {
    //             animation: activeSpan1 .3s linear forwards;
    //         }

    //         &:nth-child(2) {
    //             animation: activeSpan2 .3s linear forwards;
    //         }

    //         &:nth-child(3) {
    //             animation: activeSpan3 .3s linear forwards;
    //         }
    //     }
    // }

    &._active {

        & span {

            &:nth-child(1) {
                width: 100%;
                right: 50%;
                transform: translate(50%, -50%) rotate(45deg);
            }

            &:nth-child(2) {
                width: 0;
            }

            &:nth-child(3) {
                width: 100%;
                right: 50%;
                transform: translate(50%, -50%) rotate(-45deg);
            }
        }

        // & span {

        //     &:nth-child(1) {
        //         width: 80%;
        //         transform: translate(-50%, -50%) rotate(-45deg);
        //     }

        //     &:nth-child(2) {
        //         opacity: 0;
        //     }

        //     &:nth-child(3) {
        //         width: 80%;
        //         transform: translate(-50%, -50%) rotate(45deg);
        //     }
        // }

        // &._deactiveAnim {

        //     & span {

        //         &:nth-child(1) {
        //             animation: activeSpan1 .3s linear forwards reverse;
        //         }

        //         &:nth-child(2) {
        //             animation: activeSpan2 .3s linear forwards reverse;                    
        //         }

        //         &:nth-child(3) {
        //             animation: activeSpan3 .3s linear forwards reverse;
        //         }
        //     }
        // }
    }

    // @keyframes activeSpan1 {
    //     0% {
    //         transform: translate(-50%, calc(-50% - 6px));
    //         width: 50%;
    //     }
    //     20% {
    //         transform: translate(-50%, -50%);
    //         width: 50%;
    //     }
    //     50% {
    //         transform: translate(-50%, -50%) rotate(0);
    //         width: 1px;
    //     }
    //     51% {
    //         transform: translate(-50%, -50%) rotate(-45deg);
    //     }
    //     100% {
    //         width: 80%;
    //         transform: translate(-50%, -50%) rotate(-45deg);
    //     }
    // }

    // @keyframes activeSpan2 {
    //     0% {
    //         opacity: 1;
    //         transform: translate(-50%, -50%);
    //     }
    //     20% {
    //         transform: translate(-50%, -50%);
    //         width: 80%;
    //     }
    //     50% {
    //         width: 1px;
    //         opacity: 1;
    //     }
    //     51% {
    //         opacity: 0;
    //     }
    //     100% {
    //         opacity: 0;
    //     }
    // }

    // @keyframes activeSpan3 {
    //     0% {
    //         transform: translate(-50%, calc(-50% + 6px));
    //         width: 50%;
    //     }
    //     20% {
    //         transform: translate(-50%, -50%);
    //         width: 50%;
    //     }
    //     50% {
    //         transform: translate(-50%, -50%) rotate(0);
    //         width: 1px;
    //     }
    //     51% {
    //         transform: translate(-50%, -50%) rotate(45deg);
    //     }
    //     100% {
    //         width: 80%;
    //         transform: translate(-50%, -50%) rotate(45deg);
    //     }
    // }
}