.s-insta {
    position: relative;
}

.s-insta__list {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 80px 40px;

    @media (max-width: $laptop) {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        gap: 20px;
    }

    @media (max-width: $laptop) {
        grid-template-columns: 1fr;
    }
}

.s-insta__link {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 60px auto 0 auto;

    &:hover {
        
        @media (min-width: $min-hover) {
            
            & .s-insta__link-text {

                &::before {
                    opacity: 0;
                }
            }
        }
    }

    @media (max-width: $laptop) {
        margin-top: 30px;
    }
}

.s-insta__link-text {
    position: relative;
    font-size: 24px;

    &::before {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 1px;
        background: $text-light;
        transition: $tr;
    }

    @media (max-width: $laptop) {
        font-size: 20px;
    }
}

.s-insta__link-icon {
    width: 30px;
    height: 30px;
    margin-left: 24px;
}

// Каракуля
.s-insta__scribble {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-130%) rotate(-30deg);
    width: 766px;
    height: 283px;

    @media (max-width: $laptop) {
        display: none;
    }
}