.s-location {
    padding-bottom: 0;
}

.s-location__map {
    position: relative;
    width: 100%;

    // &::before {
    //     content: '';
    //     display: block;
    //     padding-top: 37%;

    //     @media (max-width: $laptop) {
    //         padding-top: 42%;
    //     }

    //     @media (max-width: $mobile-l) {
    //         padding-top: 59%;
    //     }
    // }

    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    & ymaps {
        // height: 550px !important;
    }
}

.s-location__mainland {

    @media (max-width: $mobile-l) {
        display: none;
    }
}