// Основной шаблон кнопки
.btn {
    position: relative;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 20px;
    border-radius: 5px;
    transition: $tr;

    @media (max-width: $mobile-m) {
        width: 168px;
    }
}

.btn_light {
    background: #fff;
    color: $firm-color;
}

.btn_accent {
    background: $firm-color;
    color: #fff;
}

.link-menu {
    color: #fff;
    transition: $tr;
    text-shadow: none;
    white-space: nowrap;

    &:hover {
        
        @media (min-width: $min-hover) {
            color: $text-accent;
            text-shadow: 0 0 13px #bc5026;
        }
    }

    &:active {
        color: $link-active;
    }
}