// Поле ввода
.tf {
    position: relative;
    width: 100%;
}

.tf__field {
    position: relative;
    width: 100%;
    // height: 50px;
    display: flex;
    align-items: center;
    background: none;

    &_textarea {
        height: 80px;
    }
}

.tf__field input,
.tf__field textarea {  
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    background: none;
    border-bottom: 1px solid #fff;
    padding: 20px 0 8px 0;
}

.tf__field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: inline-block;
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    pointer-events: none;
    transition: $tr;

    &._change-label {
        transform: translate(-16%, -120%) scale(0.7);
    }
}

.tf__field_textarea {

    & label {
        top: 14px;
        transform: translate(0, 0);

        &._change-label {
            transform: translate(-16%, -80%) scale(0.7);
        }
    }
}

._textfield-error {
    
    &::after {
        content: attr(data-textfield-error);
        display: inline-block;
        font-size: 12px;
        margin-top: 6px;
        color: $error;
    }
}
