@function findLightColor($color, $l: 96%) {
    @if type-of($color) == 'color' {
        @if lightness($color) > 96% {
            $l: lightness($color);
        }
        @return change-color($color, $lightness: $l);
    }
    @return $background;
}

@function lhperc($font-size, $line-height-px) {
    @return calc(round(calc($line-height-px / $font-size) * 10) / 10);
}
 
// Стиль скроллбара
@mixin scrollbar($width: 16px, $thumb: #cecece, $track: transparent) {
    body::-webkit-scrollbar {
        width: $width;
    }
     
    body::-webkit-scrollbar-track {
        background: $track;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: $thumb;
    }
}

// Создать цвет rgba из hex
@function create-rgba($color, $opacity) {
    @return adjust-color($color, $alpha: -1 + $opacity);
}

// Адаптивный размер
// @function adsize($minSize, $maxSize, $minScreen, $maxScreen) {
//     @return calc( (100vw - #{$minScreen}px)/(#{$maxScreen} - #{$minScreen}) * (#{$maxSize} - #{$minSize}) + #{$minSize}px);
// }

// Адаптивный размер
@mixin res-size($property, $minSize, $maxSize, $minScreen, $maxScreen) {
    @media (min-width: #{$minScreen}px) and (max-width: #{$maxScreen}px) {
        #{$property}: calc( (100vw - #{$minScreen}px)/(#{$maxScreen} - #{$minScreen}) * (#{$maxSize} - #{$minSize}) + #{$minSize}px);
    }
} 

// Адаптивный размер только с максимальным медиа запросом
@mixin res-size-mw($property, $minSize, $maxSize, $minScreen, $maxScreen) {
    @media (max-width: #{$maxScreen}px) {
        #{$property}: calc( (100vw - #{$minScreen}px)/(#{$maxScreen} - #{$minScreen}) * (#{$maxSize} - #{$minSize}) + #{$minSize}px);
    }
}

// Стили выделения контента на сайте
@mixin selection {
    $prefixes: ':' ':-moz-';
    @each $prefix in $prefixes {
        :#{$prefix}selection {
            @content;
        }
    }
}

// Стили placeholder
@mixin placeholder {
    $placeholders: ':moz' ':webkit-input' '-moz' '-ms-input';
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}

// Генерирует цвет по указанной яркости
@function brig-color($color, $brightness: 0) {
    @if $brightness == 'hover' {
        @return adjust-color($color, $lightness: -3%);
    }
    @if $brightness == 'active' {
        @return adjust-color($color, $lightness: -5%);
    }

    @return adjust-color($color, $lightness: $brightness);
}

// Иконка загрузки
@mixin loader {
    content: "";
    position: relative;
    width: 1em;
    height: 1em;
    display: block;
    border: 2px solid #cecece;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: spinAround 500ms infinite linear;
}

// Позиционирование на весь размер
@mixin overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

// Позиционирование по центру по разным осям
@mixin center($axis: xy) {
    position: absolute;

    @if $axis == xy and $axis == yx {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if $axis == x {
        left: 50%;
        transform: translateX(-50%);
    }
    @else if $axis == y {
        top: 50%;
        transform: translateY(-50%);
        
    }
}