@import "mixins"; // Миксины
@import "fonts"; // Шрифты
@import "vars"; // Переменные
@import "reset"; // Сброс css

html {
    scroll-behavior: smooth;
}

body {
    font-family: $ff-main;
    color: $text-primary;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;

    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    & > .content {
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
        
        &_pb-l {
            padding-bottom: 100px;

            @media (max-width: 500px) {
                padding-bottom: 80px;
            }

            @media (max-width: $mobile-l) {
                // padding-bottom: 0;
            }
        }
    }
}

@import "grid"; // Сетка
@import "animation";

// Библиотеки
@import "libs/swiper";
@import "libs/airdatapicker";

// Элементы
@import "./elements/buttons";
@import "./elements/textfield";
@import "./elements/select";

// Компоненты
@import "./components/zoom-in-img";
@import "./components/modals/modal";
@import "./components/section";
@import "./components/breadcrumbs";
@import "./components/page-header";
@import "./components/tabs";

// Карточки
@import "./components/cards/r-card";
@import "./components/cards/sr-card";
@import "./components/cards/ss-card";
@import "./components/cards/se-card";
@import "./components/cards/si-card";
@import "./components/cards/sa-card";
@import "./components/cards/s-card";
@import "./components/cards/cv-card";

// Текстовые компоненты
@import "./components/text";

// Секции (Главная страница)
@import "./sections/header";
@import "./sections/menu";
@import "./sections/main";
@import "./sections/s-history";
@import "./sections/tp";
@import "./sections/s-reviews";
@import "./sections/s-aparts";
@import "./sections/s-services";
@import "./sections/s-events";
@import "./sections/s-insta";
@import "./sections/s-adwards";
@import "./sections/s-contacts";
@import "./sections/s-location";
@import "./sections/footer";

// Другие страницы
@import "./sections/s-acc";
@import "./sections/ssc";
@import "./sections/services-main";
@import "./sections/services";
@import "./sections/g-events";
@import "./sections/service";
@import "./sections/s-favorite";
@import "./sections/apartments";
@import "./sections/cooper";
@import "./sections/gallery";
@import "./sections/nfp";
@import "./sections/manif";
@import "./sections/s-quote";
@import "./sections/rent-apart";
@import "./sections/s-organ";
@import "./sections/studio-main";
@import "./sections/l-things";
@import "./sections/studio-advant";
@import "./sections/studio-include";
@import "./sections/studio-gallery";
@import "./sections/studio-concept";
@import "./sections/studio-bath";
@import "./sections/studio-room";
@import "./sections/studio-design";