@import "mixins"; // Миксины
@import "fonts"; // Шрифты
@import "vars"; // Переменные
@import "reset"; // Сброс css

html {
    scroll-behavior: smooth;
}

body {
    font-family: $ff-main;
    color: $text-primary;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;

    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    & > .content {
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
        // display: flex;
    }
}

@import "grid"; // Сетка

// Библиотеки
@import "libs/swiper";
@import "libs/airdatapicker";

// Элементы
@import "./elements/buttons";
@import "./elements/textfield";
@import "./elements/select";

// Компоненты
@import "./components/zoom-in-img";
@import "./components/modals/modal";
@import "./components/section";

// Карточки
@import "./components/cards/room";
@import "./components/cards/sr-card";
@import "./components/cards/ss-card";
@import "./components/cards/se-card";
@import "./components/cards/si-card";
@import "./components/cards/sa-card";

// Текстовые компоненты
@import "./components/text";

// Секции
@import "./sections/header";
@import "./sections/menu";
@import "./sections/main";
@import "./sections/s-history";
@import "./sections/tp";
@import "./sections/s-reviews";
@import "./sections/s-services";
@import "./sections/s-events";
@import "./sections/s-insta";
@import "./sections/s-adwards";
@import "./sections/s-contacts";
@import "./sections/s-location";
@import "./sections/footer";